<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/styles/style.css">
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/131d9c1f34.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script defer src="./assets/scripts/create-card.js"></script>
    <title>Mindhub Brothers | Create Cards</title>
</head>
<body id="app">
    <header>
        <nav class="navbar navbar-expand-md">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="./assets/images/mhb-logo.svg" alt=""></a>
                <button class="navbar-toggler custom-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0 d-flex flex-column align-items-center">
                        <li class="nav-item"><a href="#">HOME</a></li>
                        <li class="nav-item"><a href="./accounts.html">ACCOUNTS</a></li>
                        <li class="nav-item"><a href="./transactions.html">MOVEMENTS</a></li>
                        <li class="nav-item"><a href="#">LOANS</a></li>
                        <li class="nav-item"><a href="./cards.html">CARDS</a></li>
                        <li class="nav-item"><a href="#">NEW CARDS</a></li>
                        <li class="nav-item"><a href="" data-bs-toggle="modal" data-bs-target="#modalLogin">LOGOUT</a></li>
                    </ul>
                </div>
            </div>
        </nav>        
    </header>
    <main>
        <div class="main-content-container d-flex">
            <div class="lateral-navigation-container">
                <div class="lateral-navigation-subcontainer">
                    <nav class="sidenav">
                        <ul>
                            <li><a href="" class="sidenav-user">
                                <span v-if="data"><img :src="'https://robohash.org/'+hashUser" class="user-image"></span>
                                <span v-else><i class="fa-solid fa-user"></i></span>
                                <span>{{data.data.firstName}} {{data.data.lastName}}</span></a></li>
                                <!-- <button @click="sesionLogout()">Logout!</button> -->
                            <div>
                            <li><a href="#"><span class="sidenav-icon-span"><i class="fa-solid fa-house fa-lg"></i></span><span>HOME</span></a></li>
                            <li><a href="./accounts.html"><span class="sidenav-icon-span"><i class="fa-solid fa-wallet fa-lg"></i></span><span>ACCOUNTS</span></a></li>
                            <li><a href="./transactions.html"><span class="sidenav-icon-span"><i class="fa-solid fa-money-bill-transfer fa-lg"></i></span><span>MOVEMENTS</span></a></li>
                            <li><a href="#"><span class="sidenav-icon-span"><i class="fa-solid fa-coins fa-lg"></i></span><span>LOANS</span></a></li>
                            <li><a href="./cards.html"><span class="sidenav-icon-span"><i class="fa-solid fa-credit-card fa-lg"></i></span><span>CARDS</span></a></li>
                            <li><a href="#"><span class="sidenav-icon-span"><i class="fa-solid fa-credit-card fa-lg"></i></span><span>NEW CARDS</span></a></li>
                            </div>
                            <li><a href="" data-bs-toggle="modal" data-bs-target="#modalLogin"><span class="sidenav-icon-span"><i class="fa-solid fa-right-from-bracket fa-lg"></i></span><span>LOGOUT</span></a></li>
                        </ul>
                    </nav>
                    <span @click="openNav()">Menu</span>
                </div>
            </div>
            <div class="main-content-subcontainer">
                <div class="title-container">
                    <h1 class="title-header"><span class="title-word-container t-first"><span aria-hidden="true">New</span> New<span aria-hidden="true">New</span></span>
                    <span class="title-word-container t-second"><span aria-hidden="true">Cards</span> Cards<span aria-hidden="true">Cards</span></span>
                    </h1>
                </div>
                <div class="new-card-form">
                    <select name="card-type" v-model="cardType">
                        <option value="CREDIT">Credit</option>
                        <option value="DEBIT">Debit</option>
                    </select>
                    <select name="card-color" v-model="cardColor">
                        <option value="SILVER">Silver</option>
                        <option value="GOLD">Gold</option>
                        <option value="TITANIUM">Titanium</option>
                    </select>
                    <button @click="createCard()">CREATE</button>
                </div>
            </div>  
        </div>
        <div class="modal fade" id="modalLogin" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered login-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header card-pad_top">
                            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close" @click="singUpTransitionClear()"><i class="fa-sharp fa-solid fa-xmark fa-2xl"></i></button>
                    </div>
                    <div class="display modal-body logout-display">
                        <div class="overflow-container">
                            <div class="pad-contrast-container">
                                <h3>Are you sure?</h3>
                                <div>
                                    <button class="btn-signIn" @click="sesionLogout()">Logout</button>
                                    <button class="btn-signUp" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer card-pad_bot">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>