<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="stylesheet" href="./assets/styles/index.css">
    <link rel="stylesheet" href="./assets/styles/cards.css">
    <link rel="stylesheet" href="./assets/styles/transactions.css">
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/131d9c1f34.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script defer src="./assets/scripts/transactions.js"></script>
    <title>Mindhub Brothers | Create Cards</title>
</head>
<body id="app">
    <header>
        <nav class="navbar navbar-expand-md">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="./assets/images/mhb-logo.svg" alt=""></a>
                <button class="navbar-toggler custom-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0 d-flex flex-column align-items-center">
                        <li class="nav-item"><a href="#">HOME</a></li>
                        <li class="nav-item"><a href="./accounts.html">ACCOUNTS</a></li>
                        <li class="nav-item"><a href="#">MOVEMENTS</a></li>
                        <li class="nav-item"><a href="#">LOANS</a></li>
                        <li class="nav-item"><a href="./cards.html">CARDS</a></li>
                        <li class="nav-item"><a href="./create-cards.html">NEW CARDS</a></li>
                        <li class="nav-item"><a href="" data-bs-toggle="modal" data-bs-target="#modalLogin">LOGOUT</a></li>
                    </ul>
                </div>
            </div>
        </nav>        
    </header>
    <main>
        <div class="main-content-container d-flex">
            <div class="lateral-navigation-container">
                <div class="lateral-navigation-subcontainer">
                    <nav class="sidenav">
                        <ul>
                            <li><a href="" class="sidenav-user">
                                <span v-if="data"><img :src="'https://robohash.org/'+hashUser" class="user-image"></span>
                                <span v-else><i class="fa-solid fa-user"></i></span>
                                <span>{{data.data.firstName}} {{data.data.lastName}}</span></a></li>
                                <!-- <button @click="sesionLogout()">Logout!</button> -->
                            <div>
                            <li><a href="#"><span class="sidenav-icon-span"><i class="fa-solid fa-house fa-lg"></i></span><span>HOME</span></a></li>
                            <li><a href="./accounts.html"><span class="sidenav-icon-span"><i class="fa-solid fa-wallet fa-lg"></i></span><span>ACCOUNTS</span></a></li>
                            <li><a href="#"><span class="sidenav-icon-span"><i class="fa-solid fa-money-bill-transfer fa-lg"></i></span><span>MOVEMENTS</span></a></li>
                            <li><a href="#"><span class="sidenav-icon-span"><i class="fa-solid fa-coins fa-lg"></i></span><span>LOANS</span></a></li>
                            <li><a href="./cards.html"><span class="sidenav-icon-span"><i class="fa-solid fa-credit-card fa-lg"></i></span><span>CARDS</span></a></li>
                            <li><a href="./create-cards.html"><span class="sidenav-icon-span"><i class="fa-solid fa-credit-card fa-lg"></i></span><span>NEW CARDS</span></a></li>
                            </div>
                            <li><a href="" data-bs-toggle="modal" data-bs-target="#modalLogin"><span class="sidenav-icon-span"><i class="fa-solid fa-right-from-bracket fa-lg"></i></span><span>LOGOUT</span></a></li>
                        </ul>
                    </nav>
                    <span @click="openNav()">Menu</span>
                </div>
            </div>
            <div class="main-content-subcontainer">
                <div class="title-container">
                    <h1 class="title-header"><span class="title-word-container t-first"><span aria-hidden="true">New</span> New<span aria-hidden="true">New</span></span>
                    <span class="title-word-container t-second"><span aria-hidden="true">Transaction</span> Transaction<span aria-hidden="true">Transaction</span></span>
                    </h1>
                </div>
                <div class="card-list-pad">
                    <span></span>
                    <span></span>
                    <div class="card-list-pad_top pad-top"></div>
                    <div class="display card-list-pad_display">
                        <div class="transfer-pád-header">
                            <h3>Transfer to:</h3>
                            <div class="select">
                                <select @change="resetData()" name="accountOwner" v-model="targetOwner">
                                    <option value="no">Third party account</option>
                                    <option value="yes">Owned account</option>
                                </select>
                            </div>
                        </div>
                        <div class="transfer-pád-accounts">
                            <div class="selected-account">
                                <h4>Select your account</h4>
                                <div class="select">
                                    <select name="originAccount" v-model="originAccount">
                                        <option v-for="account of accounts" :value="account">
                                            {{account.number}}
                                        </option>
                                    </select>
                                </div>
                                <template v-if="originAccount">
                                    <p>Owner: <u>{{data.data.firstName}} {{data.data.lastName}}</u></p>
                                    <p>Balance: <u>{{formatCurrency(originAccount.balance)}}</u></p>
                                    <p>Active since: <u>{{originAccount.creationDate.split("T")[0]}}</u></p>
                                </template>
                            </div>
                            <div class="btn-transfer-center">
                                <div class="btn-transfer-container" v-if="amount && description && originAccount && 
                                (targetAccount || destinationNumber)">
                                    <button data-bs-toggle="modal" data-bs-target="#modalTransfer" class="btn-transfer">Transfer</button>
                                    <!-- <button @click="transfer()" class="btn-transfer">Transfer</button> -->
                                </div>
                                <div class="btn-transfer-container-disabled" v-else>
                                    <button disabled class="btn-transfer">Transfer</button>
                                </div>
                            </div>
                            <div class="target-account">
                                <template v-if="targetOwner==='yes'">
                                    <h4>Destination account</h4>
                                    <div class="select">
                                        <select name="destinationAccount" v-model="targetAccount">
                                            <option v-for="account of accounts.filter(acc=> acc.id!=originAccount.id)" :value="account">
                                                {{account.number}}
                                            </option>
                                        </select>
                                    </div>
                                    <template v-if="targetAccount">
                                        <p>Owner: <u>{{data.data.firstName}} {{data.data.lastName}}</u></p>
                                        <p>Balance: <u>{{formatCurrency(targetAccount.balance)}}</u></p>
                                        <p>Active since: <u>{{targetAccount.creationDate.split("T")[0]}}</u></p>
                                    </template>
                                </template>
                                <template v-if="targetOwner!=='yes'">
                                    <h4>Destination account</h4>
                                    <input @keyUp="fetchTargetAccount()" type="text" name="destinationNumber" v-model="destinationNumber">
                                    <template v-if="targetAccountFetched">
                                        <p>Account: <u>{{targetAccountFetched.number}}</u></p>
                                        <p>Owner: <u>{{targetAccountFetched.owner}}</u></p>
                                        <p>Active since: <u>{{targetAccountFetched.creationDate.split("T")[0]}}</u></p>
                                    </template>
                                </template>
                            </div>
                        </div>
                        <div class="btn-transfer-bottom">
                            <div class="btn-transfer-container" v-if="amount && description && originAccount && 
                            (targetAccount || destinationNumber)">
                                <button data-bs-toggle="modal" data-bs-target="#modalTransfer" class="btn-transfer">Transfer</button>
                                <!-- <button @click="transfer()" class="btn-transfer">Transfer</button> -->
                            </div>
                            <div class="btn-transfer-container-disabled" v-else>
                                <button disabled class="btn-transfer">Transfer</button>
                            </div>
                        </div>
                        <p class="register-error-msg" v-show="registerErrMsg">{{registerErrMsg}}</p>
                        <div class="amount-container">
                            <h4>Amount</h4>
                            <input type="number" name="amount" v-model="amount">
                        </div>
                        <div class="description-container">
                            <h4>Description</h4>
                            <textarea name="description" v-model="description"></textarea>
                        </div>
                    </div>
                    <div class="card-list-pad_bot pad-bot"></div>
                </div>
            </div>  
        </div>
        <div class="modal fade" id="modalTransfer" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered login-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header card-pad_top">
                            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-solid fa-xmark fa-2xl"></i></button>
                    </div>
                    <div class="display modal-body">
                        <div class="overflow-container d-flex justify-content-center">
                            <div class="modal-transfer-msg-container">
                                <h3>Transference details</h3>
                                <div>
                                    <p class="p-flex">Account: <span><u>{{targetAccount?.number || destinationNumber}}</u></span></p>
                                    <template v-if="targetOwner!=='no'">
                                        <p class="p-flex">Owner: <span><u>{{data.data.firstName}} {{data.data.lastName}}</u></span></p>
                                    </template>
                                    <template v-else>
                                        <p class="p-flex">Owner: <span><u>{{targetAccount?.name}}</u></span></p>
                                    </template>
                                    <p class="p-flex">Amount: <span><u>{{formatCurrency(amount)}}</u></span></p>
                                    <p>Description: <i>{{description}}</i></p>
                                </div>
                                <button @click="transfer()" class="btn-signIn" data-bs-dismiss="modal" aria-label="Close">Transfer</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer card-pad_bot">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalLogin" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered login-modal" role="document">
                <div class="modal-content">
                    <div class="modal-header card-pad_top">
                            <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close" @click="singUpTransitionClear()"><i class="fa-sharp fa-solid fa-xmark fa-2xl"></i></button>
                    </div>
                    <div class="display modal-body logout-display">
                        <div class="overflow-container">
                            <div class="pad-contrast-container">
                                <h3>Are you sure?</h3>
                                <div>
                                    <button class="btn-signIn" @click="sesionLogout()">Logout</button>
                                    <button class="btn-signUp" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer card-pad_bot">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>