@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --pink:#eb04db;
    --violet:#442c88;
    --cyan:#0cbbc4;
    --blue:#133e7c;
    --darkBlue:#091833;
    --green:#13f48f;
    --bg-color: var(--darkBlue);
    --animation-section-open:none;
    --animation-section-open-glitch:none;
    --animation-section-open-glitch-shadow:none;
    --animation-hex-start:none;
    --animation-hex-shadow-start:none;
    --animation-bot-shadow:none;
    --animation-bot-start-left:none;
    --animation-bot-start-right:none;
    --display-background:none;
}
body{
    background: var(--bg-color);
    color: white;
}
header nav{
    min-height: 10vh;
    background: linear-gradient(#11366b,#19509d,#11366b);
    position: relative;
    color: var(--pink);
    display: none !important;
}
.navbar-brand{
    color: White;
    font-weight: bolder;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    position: relative;
    pointer-events: none;
    user-select: none;
}
.navbar-brand span:first-child{
    position: relative;
    left: -3px;
    top: 5px;
}
/* .navbar-brand span:first-child{
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -100%;
} */
.navbar-brand span+span{
    letter-spacing: .5rem;
    font-size: 1rem;
}
.nav-link{
    color: var(--pink);
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 .25rem var(--green);
}
.navbar-toggler:focus:hover {
    box-shadow: 0 0 0 .25rem hsl(153, 89%, 69%), 0 0 20px var(--green);
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='hsl(153, 91%, 52%)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");   
    transition: all .3s;
}
.navbar-toggler-icon:hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='hsl(153, 89%, 69%)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
    filter: drop-shadow(0 0 10px var(--green));
}
header{
    position: sticky;
    top: 0;
    z-index: 5;
}
header a{
    text-decoration: none;
    color: var(--green);
    font-weight: bolder;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.1rem;
}

.nav-item{
    margin: .5rem 0;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    font-family: 'Orbitron', sans-serif;
    /* text-align: center; */
    gap: 3rem;
    /* padding-top: 2rem; */
    min-height: 90vh;
}
nav img{
    width: 5rem;
    height: 5rem;
}
h2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 1em 2em; */
}
h2 span{
    color: var(--green);
    font-weight: bolder;
}
.title-header{
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2em;
}
.title-header-nav{
    font-weight: bolder;
    /* font-size: 3rem; */
    text-align: center;
    display: flex;
    /* gap: .5em; */
    /* flex-wrap: wrap; */
    justify-content: center;
    /* margin: 0 2em; */
}
.title-container .title-header{
    animation: glitch 5s infinite;
    position: relative;
}
.title-word-container{
    position: relative;
}

.title-word-container span{
    position: absolute;
    inset: 0;
}
.title-word-container span:first-child{
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 40%);
    z-index: 2;
    animation: glitch-slide-top 5s infinite;
}
.title-word-container span:last-child{
    clip-path: polygon(0 100%, 100% 100%, 100% 70%, 0 55%);
    z-index: 2;
    animation: glitch-slide-bot 5s infinite;
}
@keyframes glitch-slide-top {
    0%{
        translate: .05em -.1em;
    }
    2%{
        translate: .05em -.1em;
    }
    3%{
        translate: -.1em .1em;
    }
    4%{
        translate: -.1em .1em;
    }
    5%{
        translate: .1em -.07em;
    }
    6%{
        translate: .1em -.07em;
    }
    7%{
        translate: 0 0;
    }
}
@keyframes glitch-slide-bot {
    0%{
        translate: .1em -.07em;
    }
    2%{
        translate: .1em -.07em;
    }
    3%{
        translate: -.1em .1em;
    }
    4%{
        translate: -.1em .1em;
    }
    5%{
        translate: .05em -.1em;
    }
    6%{
        translate: .05em -.1em;
    }
    7%{
        translate: 0 0;
    }
}
@keyframes glitch {
    0%{
        text-shadow: 
        .25rem .1rem 0 rgba(243, 110, 255, 0.7),
        -.1rem -.25rem 0 rgba(133, 255, 200, 0.7),
        -.2rem .2rem 0 rgba(121, 237, 255, 0.7);
        translate: .03em -.06em;
    }
    2%{
        text-shadow: 
        .25rem .1rem 0 rgba(243, 110, 255, 0.7),
        -.1rem -.25rem 0 rgba(133, 255, 200, 0.7),
        -.2rem .2rem 0 rgba(121, 237, 255, 0.7);
        translate: .03em -.06em;
    }
    3%{
        text-shadow: 
        -.1rem -.2rem 0 rgba(243, 110, 255, 0.7),
        .2rem -.1rem 0 rgba(133, 255, 200, 0.7),
        -.1rem -.2rem 0 rgba(121, 237, 255, 0.7);
        translate: -.02em .05em;
    }
    4%{
        text-shadow: 
        -.1rem -.2rem 0 rgba(243, 110, 255, 0.7),
        .2rem -.1rem 0 rgba(133, 255, 200, 0.7),
        -.1rem -.2rem 0 rgba(121, 237, 255, 0.7);
        translate: -.02em .05em;
    }
    5%{
        text-shadow: 
        .1rem .3rem 0 rgba(243, 110, 255, 0.7),
        -.2rem .2rem 0 rgba(133, 255, 200, 0.7),
        .25rem .1rem 0 rgba(121, 237, 255, 0.7);
        translate: .06em -.08em;
    }
    6%{
        text-shadow: 
        .1rem .3rem 0 rgba(243, 110, 255, 0.7),
        -.2rem .2rem 0 rgba(133, 255, 200, 0.7),
        .25rem .1rem 0 rgba(121, 237, 255, 0.7);
        translate: .06em -.08em;
    }
    7%{
        text-shadow:none;
        translate: 0em 0em;
    }
}
.main-content-container{
    width: 100%;
}
.main-content-subcontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    /* gap: 2rem; */
}
.lateral-navigation-container{
    height: 100vh;
    width: 4rem;
    position: sticky;
    z-index: 4;
    top: 0;
    left: 0;
}
.lateral-navigation-subcontainer{
    height: 100%;
    position: relative;
    min-width: 3rem;
    transition:all 0.5s;
}
.sidenav {
    height: 100%;
    width: 100%;
    background-color: var(--blue);
    overflow: hidden;
    border-right: 3px solid var(--cyan);
    box-shadow: 0 0 50px var(--cyan);
    /* padding: 2rem 0; */
    
}
.lateral-navigation-subcontainer> span{
    width: 2rem;
    height: 5rem;
    position: absolute;
    right: 1px;
    top: 50%;
    translate: 92% -50%;
    z-index: 6;
    writing-mode: vertical-lr;
    box-shadow: -6px 0 0 var(--blue);
    text-align: center;
    padding-left: .2em;
    cursor: pointer;
    font-weight: bolder;

}
.lateral-navigation-subcontainer> span::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    position: absolute;
    top:0;
    right: 0;
    transform: skewY(30deg);
    border: 3px solid var(--cyan);
    border-left: none;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 70%);
    z-index: -1;
}
.lateral-navigation-subcontainer> span::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    position: absolute;
    bottom:0;
    right: 0;
    transform: skewY(-30deg);
    border: 3px solid var(--cyan);
    border-left: none;
    clip-path: polygon(0% 30%, 100% 50%, 100% 100%, 0% 100%);
    z-index: -1;
}
.sidenav::before{
    content: "";
    width: 1.5rem;
    height: 3rem;
    background-color: red;
    position: absolute;
    top: 50%;
    right: 0px;
    translate: 100% -50%;
    z-index: -2;
    box-shadow: 0px 0 50px 10px var(--cyan);
}

.sidenav .sidenav-icon-span{
    width: 2rem;
    color: var(--green);
    margin-left: .7rem;
    /* margin-right: 2rem; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 0.3s;
    /* text-justify:; */
}
.svg-icon{
    color: #13f48f;
    background-color: #13f48f;
    fill: #13f48f;
}
.sidenav span img{
    width: 3rem;
    /* flex-shrink: 0; */
    background-color: var(--green) !important;
    transition: 0.3s;
    margin-left: calc(.5rem - 3px);
}
.sidenav li{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.sidenav ul{
    padding: 2rem 0;
    margin: 0;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .sidenav ul div{
    height: 75%;
    padding-top: 2.8rem;
} */
.sidenav a {
    padding: 8px 8px 8px 0;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
    display: flex;
    align-items: center;
    position: relative;
    gap: 2rem;
    width: 100%;
    /* border-bottom: 2px solid black; */
}
.sidenav a span{
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav a:hover img{
    background-color: #c8ffe6 !important;
}
.sidenav a:hover span{
    color: #c8ffe6;
    filter: drop-shadow(0px 0px 15px var(--green));
}

/* --------------------------------------------------------------------------------------- */

.carousel-accounts{
    width: 90%;
    max-width: 70rem;
    /* min-height: 50vh; */
    margin-top: 8rem;
    z-index: 2;
    position: relative;
    --fill-color:var(--blue);
    margin-bottom: 3rem;
    --neonColor:var(--green);
    transition: all .2s;
}
.carousel-wrapper{
    width: 100%;
    height: 4rem;
    background: rgb(23,127,170);
    background: linear-gradient(0deg, rgba(23,127,170,1) 0%, rgba(11,45,91,1) 5%, rgba(12,47,95,1) 30%, rgba(23,127,170,1)31%, rgba(19,62,124,1) 32%, rgba(19,62,124,1) 37%, rgba(19,86,124,1) 100%); 
    position: relative;
    overflow: hidden;
    /* box-shadow: 0px 3px 0 0 var(--neonColor) inset; */
}
.carousel-icon{
    background: none;
    font-size: 3.5rem;
    color: var(--green);
    font-weight: bolder;
}
.carousel-control{
    height: 3rem !important;
    width: 2rem;
    margin: 3rem;
    margin-bottom: none;
    translate: 0 -170%;
}
.top-wrapper::before{
    content: "";
    width: 4em;
    height: 4em;
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    rotate: 45deg;
    translate: -50% -50%;
}
.top-wrapper::after{
    content: "";
    width: 4em;
    height: 4em;
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    right: 0;
    rotate: 45deg;
    translate: 50% -50%;
}
.bottom-wrapper::before{
    content: "";
    width: 4em;
    height: 4em;
    background: var(--bg-color);
    position: absolute;
    bottom: 0;
    left: 0;
    rotate: 45deg;
    translate: -50% 50%;
}
.bottom-wrapper::after{
    content: "";
    width: 4em;
    height: 4em;
    background: var(--bg-color);
    position: absolute;
    bottom: 0;
    right: 0;
    rotate: -45deg;
    translate: 50% 50%;
}
.bottom-wrapper{
    height: 4rem;
    background: rgb(23,127,170);
    background: linear-gradient(180deg, rgba(23,127,170,1) 0%, rgba(11,45,91,1) 5%, rgba(12,47,95,1) 32%,rgba(23,127,170,1)33%, rgba(19,62,124,1) 34%, rgba(19,62,124,1) 48%, rgba(19,86,124,1) 90%); 
}
.carousel-accounts> span{
    width: 10rem;
    height: 2rem;
    position: absolute;
    right: 50%;
    bottom: 0%;
    translate: 50% 90%;
    z-index: 6;
}
.carousel-accounts> span+ span{
    width: 8rem;
    height: 1rem;
    position: absolute;
    right: 50%;
    bottom: 0%;
    translate: 50% 150%;
    box-shadow: none;
    z-index: -10;
    animation: var(--animation-bot-shadow);
}
.carousel-accounts> span::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(19,86,124);
    background: linear-gradient(180deg, rgba(19,86,124,1) 0%, rgba(30,104,147,1) 100%); 
    position: absolute;
    top:-.4px;
    right: 0;
    transform: skewX(30deg);
    clip-path: polygon(0% 0%, 70% 0%, 50% 100%, 0% 100%);
    z-index: -1;
    animation: var(--animation-hex-shadow-start);
}
.carousel-accounts> span::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(19,86,124);
    background: linear-gradient(180deg, rgba(19,86,124,1) 0%, rgba(30,104,147,1) 100%); 
    position: absolute;
    top:-.4px;
    right: 0;
    transform: skewX(-30deg);
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 50% 100%);
    z-index: -1;
    animation: var(--animation-hex-shadow-start);
}
.carousel-accounts> span+span::before{
    content: "";
    width: calc(10rem + 6px);
    height: calc(2rem + 6px);
    background: var(--neonColor);
    position: absolute;
    bottom:0;
    right: 50%;
    transform: skewX(30deg);
    clip-path: polygon(0% 0%, 70% 0%, 50% 0%, 0% 0%);
    z-index: 10;
    translate: 50% -37%;
    animation: var(--animation-bot-start-left);
}
.carousel-accounts> span+span::after{
    content: "";
    width: calc(10rem + 6px);
    height: calc(2rem + 6px);
    background: var(--neonColor);
    position: absolute;
    bottom:0;
    right: 50%;
    transform: skewX(-30deg);
    clip-path: polygon(30% 0%, 100% 0%, 100% 0%, 50% 0%);
    z-index: 10;
    translate: 50% -37%;
    animation: var(--animation-bot-start-right);
}
@keyframes light-start-shadow {
    0%{
        box-shadow: none;
    }
    1%{
        box-shadow: none;
    }
    2%{
        box-shadow:0px 1rem 5rem -1rem var(--neonColor);
    }
    4%{
        box-shadow:0px 1rem 5rem -1rem var(--neonColor);
    }
    5%{
        box-shadow: none;
    }
    6%{
        box-shadow: none;
    }
    7%{
        box-shadow:0px 1rem 5rem -1rem var(--neonColor);
    }
    14%{
        box-shadow:0px 1rem 5rem -1rem var(--neonColor);
    }
    15%{
        box-shadow: none;
    }
    16%{
        box-shadow: none;
    }
    17%{
        box-shadow:0px 1rem 5rem -1rem var(--neonColor);
    }
}
@keyframes light-start-border {
    0%{
        border-color: transparent;
    }
    1%{
        border-color: transparent;
    }
    2%{
        border-color: var(--neonColor);
    }
    4%{
        border-color: var(--neonColor);
    }
    5%{
        border-color: transparent;
    }
    6%{
        border-color: transparent;
    }
    7%{
        border-color: var(--neonColor);
    }
    14%{
        border-color: var(--neonColor);
    }
    15%{
        border-color: transparent;
    }
    16%{
        border-color: transparent;
    }
    17%{
        border-color: var(--neonColor);
    }
}
/* .carousel-item{
    display: flex;
    justify-content: center;
} */
.section-container{
    width: 90%;
    max-height: 0px;
    /* min-height: 50vh; */
    padding: 1rem 2rem 0 2rem;
    /* background-color: var(--bg-color); */
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transition: all 1s; */
    /* background: rgba(0, 255, 255, 0.661); */
    margin: 0 auto;
    position: relative;
    animation: var(--animation-section-open),var(--animation-section-open-glitch);
    opacity: 0;

}
.section-container::before{
    content: "";
    width: 100%;
    height: 100%;
    /* max-height: 0px; */
    z-index: -3;
    filter: blur(2px);
    background: rgb(0,255,255);
    background: linear-gradient(0deg, rgba(0,255,255,0.3) 0%, rgba(0,255,255,0.1) 50%, rgba(0,255,255,0.3) 100%), repeating-linear-gradient(90deg,
    rgb(100, 100, 100,0),
    rgb(26, 198, 204, 0.8).2rem,
    rgba(26, 198, 204, 0.8) .4rem,
    rgb(100, 100, 100,0) .6rem
      ); 
    position: absolute;
    /* transition: all 1s; */
    top: 0;
    left: 0;
    box-shadow: var(--display-background);
    /* box-shadow:0 0 1rem rgb(190, 246, 246); */
    /* box-shadow:0 0 1rem rgb(190, 246, 246),
     0 0 2rem cyan, 0px 15px 10px -10px white inset
     , 0 0 2rem cyan, 0px -15px 10px -10px white inset; */
     animation:var(--animation-section-open-glitch-shadow);
}
.new-account-container{
    margin-top: 5em;
    color: #fb9df4;
    text-shadow: 2px 0 var(--pink), -2px 0 var(--pink), 0 2px var(--pink), 0 -2px var(--pink),
               1px 1px var(--pink), -1px -1px var(--pink), 1px -1px var(--pink), -1px 1px var(--pink);
}
.transaction-button{
    z-index: 20;
}
@keyframes bg-glitch {
    0%{
        translate: -.5rem .0rem;
    }
    1%{
        translate: -.5rem .0rem;
    }
    2%{
        translate: .15rem -.0rem;
    }
    3%{
        translate: .15rem -.0rem;
    }
    4%{
        translate: -.8rem .0rem;
    }
    5%{
        translate: -.8rem .0rem;
    }
    6%{
        translate: .5rem .0rem;
    }
    7%{
        translate: .5rem .0rem;
    }
    8%{
        translate: -.2rem -.0rem;
    }
    9%{
        translate: -.2rem -.0rem;
    }
    10%{
        translate: 0rem 0rem;
    }
}
@keyframes section-open {
    50%{
        max-height: 0vh;
        min-height: 0vh;
    }
    100%{
        max-height: 200rem;
        min-height: 25rem;
    }
}
@keyframes section-open-glitch {
    0%{
        opacity: 0;
    }
    1%{
        opacity: 0;
    }
    2%{
        opacity: .4;
    }
    4%{
        opacity: .4;
    }
    5%{
        opacity: 0;
    }
    7%{
        opacity: 0;
    }
    8%{
        opacity: .7;
    }
    14%{
        opacity: .7;
    }
    15%{
        opacity: 0;
    }
    16%{
        opacity: 0;
    }
    14%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes section-open-glitch-shadow {
    0%{
        box-shadow:none;
    }
    1%{
        box-shadow:none;
    }
    2%{
        box-shadow:0 0 1rem rgb(190, 246, 246),
        0 0 2rem cyan, 0px 15px 5px -5px white inset
        , 0 0 2rem cyan, 0px -15px 5px -5px white inset;
    }
    4%{
        box-shadow:0 0 1rem rgb(190, 246, 246),
        0 0 2rem cyan, 0px 15px 5px -5px white inset
        , 0 0 2rem cyan, 0px -15px 5px -5px white inset;
    }
    5%{
        box-shadow:none;
    }
    7%{
        box-shadow:none;
    }
    8%{
        box-shadow:0 0 1rem rgb(190, 246, 246),
        0 0 2rem cyan, 0px 15px 5px -5px white inset
        , 0 0 2rem cyan, 0px -15px 5px -5px white inset;
    }
    14%{
        box-shadow:0 0 1rem rgb(190, 246, 246),
        0 0 2rem cyan, 0px 15px 5px -5px white inset
        , 0 0 2rem cyan, 0px -15px 5px -5px white inset;
    }
    15%{
        box-shadow:none;
    }
    16%{
        box-shadow:none;
    }
    14%{
        box-shadow:0 0 1rem rgb(190, 246, 246),
        0 0 2rem cyan, 0px 15px 10px -10px white inset
        , 0 0 2rem cyan, 0px -15px 10px -10px white inset;
    }
    100%{
        box-shadow:0 0 1rem rgb(190, 246, 246),
        0 0 2rem cyan, 0px 15px 10px -10px white inset
        , 0 0 2rem cyan, 0px -15px 10px -10px white inset;
    }
}
.coin-symbol{
    width: 2.5rem;
    /* height: 2rem; */
    border: none !important;
    filter: drop-shadow(0px 0px 3px white);
    display: inline;
}

/* .coin-row{
    display: flex;
    gap: .5rem;
    align-items: center;
} */
.stats-container{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6em;
    width: 100%;
    color: var(--green);
    z-index: 100;
    justify-content: flex-end;
    font-size: 1.2rem;
}
.stats-container>div{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    justify-content: space-between;  
}
.stats-container>div p{
    min-width: 200px;
    margin: 0;
    font-weight: bolder;
}
.stats-container span{
    font-weight: bolder;
    font-size: 1.5rem;
    color: #fb9df4;
    text-shadow: 2px 0 var(--pink), -2px 0 var(--pink), 0 2px var(--pink), 0 -2px var(--pink),
               1px 1px var(--pink), -1px -1px var(--pink), 1px -1px var(--pink), -1px 1px var(--pink);
}
.stats-container h4{
    font-size: 1.5rem;
    text-shadow: 2px 0 var(--pink), -2px 0 var(--pink), 0 2px var(--pink), 0 -2px var(--pink),
               1px 1px var(--pink), -1px -1px var(--pink), 1px -1px var(--pink), -1px 1px var(--pink);
}
.no-transactions{
    margin-top: 2em;
}
.stat-button{
    width: 100%;
    margin: 1em 0;
    border: 3px solid var(--green);
    background-color: #09183355;
    transition: all .3s;
    color: var(--green);
}
.stat-button *{
    text-decoration: none;
    color: var(--green);
    font-weight: bolder;
    transition: all .3s;
}
.stat-button:hover{
    border-color: #9fffd4;
    box-shadow: 0 0 1rem var(--green);
    color: #9fffd4;
    text-shadow: 0 0 1rem var(--green);
}
.stat-button:hover *{
    color: #9fffd4;
    text-shadow: 0 0 1rem var(--green);
}
.account-stats{
    width: 100%;
    max-width: 35rem;
    background-color: #442c8877;
    padding: .5em 1em;
    position: relative;
    z-index: 100;
    opacity: 1;
    text-shadow: 0px 0px 5px 5px white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account-trash{
    position: absolute;
    right: -1rem;
    top: 1rem;
    /* translate: -50% 200%; */
}
/* .account-stats p{
    background-color: #0002;
} */
.account-details-stats{
    background-color: #442c8877;
    width: 95%;
    display: flex;
    gap: 3em;
    /* flex-wrap: wrap; */
    /* align-content: stretch; */
    color: #fb9df4;
    /* justify-content: space-between; */
    margin-bottom: 1rem;
}
.account-details-stats_loans,.account-details-stats_transactions{
    /* width: 100%; */
    /* border: 2px solid red; */
    min-width: 20rem;
    max-width: 35rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.loans-table,.last-transactions-table{
    margin: 0 auto;
    color: var(--green);
    width: 100%;
    text-align: center;
    background-color: #09183355;
}

.crypto-table{
    background-color: #09183355;
}
/* .loans-table *,.last-transactions-table *{
    padding: .2em .4em;
    border: 2px solid var(--green);
} */
th,td{
    padding: .2em .4em;
    border: 2px solid var(--green);
}
.user-image-container{
    width: 10em;
    height: 10em;
    background: rgb(23,127,170);
    background: linear-gradient(0deg, rgba(23,127,170,1) 0%, rgba(11,45,91,1) 2.5%, rgba(12,47,95,1) 15%, rgba(19,62,124,1) 15.5%, rgba(19,62,124,1) 18.5%, rgba(19,86,124,1) 100%); 
    z-index: 2;
    position: absolute;
    top:0;
    left: 50%;
    translate: -50% -60%;
    padding: 1em;
    -webkit-mask: url(../images/hexagon.svg);
    mask: url(../images/hexagon.svg);
    z-index: 1;
}
.hex-border{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(10rem + 6px);
    height: calc(10rem + 6px);
    translate: -50% -60%;
    z-index: 1;
    -webkit-mask: url(../images/hexagon.svg);
    mask: url(../images/hexagon.svg);
    background-color: var(--neonColor);
    clip-path: polygon(0% 50%,100% 50%,100% 50%, 0% 50%);
    animation: var(--animation-hex-start);
}
@keyframes hex-start {
    0%{
        clip-path: polygon(0% 60%,100% 60%,100% 60%, 0% 60%);
        opacity: 0;
    }
    100%{
        clip-path: polygon(0% 0%,100% 0,100% 60%, 0% 60%);
        opacity: 1;
    }
}
@keyframes bot-start-left {
    0%{
        clip-path: polygon(0% 0%,100% 0%,100% 1%, 0% 1%);
        opacity: 0;
    }
    100%{
        clip-path: polygon(0% 0%, 70% 0%, 50% 100%, 0% 100%);
        opacity: 1;
    }
}
@keyframes bot-start-right {
    0%{
        clip-path: polygon(0% 0%,100% 0%,100% 1%, 0% 1%);
        opacity: 0;
    }
    100%{
        clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 50% 100%);
        opacity: 1;
    }
}
.hex-shadow{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 5rem;
    height: 5rem;
    translate: -50% -50%;
    box-shadow: none;
    animation: var(--animation-hex-shadow-start);
}
@keyframes hex-shadow-start {
    0%{
        box-shadow: 0 2rem 4rem -2em var(--neonColor);
    }
    100%{
        box-shadow: 0 0rem 4rem 2em var(--neonColor);
    }
}
@keyframes bot-shadow {
    0%{
        box-shadow: 0 0rem 0rem 0rem var(--neonColor);
    }
    100%{
        box-shadow: 0 -1.5rem 5rem 2rem var(--neonColor);
    }
}
.user-image{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: contain;
    background-color: var(--cyan);
    -webkit-mask: url(../images/hexagon.svg);
    mask: url(../images/hexagon.svg);
}



#chart{
    width: 500px;
    height: 500px;
}
/* --------------------------------------------------- */

.transactions-table{
    width: 50%;
    min-width: 25rem;
    border: 2px solid var(--green);
    text-align: center;
    margin: 3rem 0;
    /* border-collapse: separate; */
}
.transactions-table *{
    padding: .2em .5em;
    border: 1px solid var(--green);
}
.transactions-table thead *{
    background-color: var(--violet);

}
.transaction-info *{
    height: 1px;
    padding: 0;
    background-color: var(--blue);
    /* display: none; */
}
/* ----------------------------------------------------- */

.pad-contrast-container{
    margin: 0 2rem;
    margin-top: 1rem;
    background-color: #442c8877;
    min-height: 10rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.pad-contrast-container div{
    display: flex;
    gap: 2rem;
}
.logout-display{
    animation: logout-display-start 1s forwards,
            section-open-glitch 1s forwards,
            section-open-glitch-shadow 1s forwards !important;
}

@keyframes logout-display-start {
    to{
        min-height: 15rem;
        max-height: 20rem;
    }
}
/* ----------------------------------------------------- */
footer{
    /* margin-top: 3rem; */
    min-height: 15vh;
    background-color:var(--violet);
    z-index: 10;
    position: relative;
}
header a:hover{
    color: #9cfbd0 !important;
    text-shadow: 0 0 1rem var(--green) !important;
}
@media (max-width:767px) {
    header nav{
        display: flex !important;
    }
    .lateral-navigation-container{
        display: none !important;
    }
    .section-container{
        padding-left: 0;
        padding-right: 0;
    }
    .account-details-stats{
        width: 95%;
    }
    .carousel-accounts{
        width: 95%;
    }
}
@media (max-width:500px) {
    .section-container table *{
        font-size: .9rem;
    }
}