@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --pink:#eb04db;
    --violet:#442c88;
    --cyan:#0cbbc4;
    --blue:#133e7c;
    --darkBlue:#091833;
    --green:#13f48f;
    --bg-color: var(--darkBlue);
}
body{
    background: var(--bg-color);
    color: white;
}
nav{
    min-height: 10vh;
    background-color: var(--violet);
    border-bottom: 3px solid var(--cyan);
    position: relative;
    color: var(--pink);
}
.navbar-brand{
    color: var(--pink);
}
.nav-link{
    color: var(--pink);
}
nav::after{
    content: "";
    width: 3em;
    height: 1.2em;
    background-image: url(../images/corner-deco.svg);
    position: absolute;
    left: 0;
    bottom: -1px;
    stroke: var(--cyan);
    background-repeat: no-repeat;
    background-size: 100%;
}
nav::before{
    content: "";
    width: 3em;
    height: 1.2em;
    background-image: url(../images/corner-deco.svg);
    position: absolute;
    right: 0;
    bottom: -1px;
    stroke: var(--cyan);
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotateY(180deg);
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 .25rem var(--green);
}
.navbar-toggler:focus:hover {
    box-shadow: 0 0 0 .25rem hsl(153, 89%, 69%), 0 0 20px var(--green);
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='hsl(153, 91%, 52%)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");   
    transition: all .3s;
}
.navbar-toggler-icon:hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='hsl(153, 89%, 69%)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
    filter: drop-shadow(0 0 10px var(--green));
}
header{
    position: sticky;
    top: -1em;
    z-index: 20;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    font-family: 'Orbitron', sans-serif;
    /* text-align: center; */
    gap: 3rem;
    padding-top: 2rem;
}
h2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em 2em;
}
h2 span{
    color: var(--green);
    font-weight: bolder;
}
h1{
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2em;
}
.title-container h1{
    animation: glitch 5s infinite;
    position: relative;
}
.title-word-container{
    position: relative;
}

.title-word-container span{
    position: absolute;
    inset: 0;
}
.title-word-container span:first-child{
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 40%);
    z-index: 2;
    animation: glitch-slide-top 5s infinite;
}
.title-word-container span:last-child{
    clip-path: polygon(0 100%, 100% 100%, 100% 70%, 0 55%);
    z-index: 2;
    animation: glitch-slide-bot 5s infinite;
}
@keyframes glitch-slide-top {
    0%{
        translate: .05em -.1em;
    }
    2%{
        translate: .05em -.1em;
    }
    3%{
        translate: -.1em .1em;
    }
    4%{
        translate: -.1em .1em;
    }
    5%{
        translate: .1em -.07em;
    }
    6%{
        translate: .1em -.07em;
    }
    7%{
        translate: 0 0;
    }
}
@keyframes glitch-slide-bot {
    0%{
        translate: .1em -.07em;
    }
    2%{
        translate: .1em -.07em;
    }
    3%{
        translate: -.1em .1em;
    }
    4%{
        translate: -.1em .1em;
    }
    5%{
        translate: .05em -.1em;
    }
    6%{
        translate: .05em -.1em;
    }
    7%{
        translate: 0 0;
    }
}
@keyframes glitch {
    0%{
        text-shadow: 
        .25rem .1rem 0 rgba(243, 110, 255, 0.7),
        -.1rem -.25rem 0 rgba(133, 255, 200, 0.7),
        -.2rem .2rem 0 rgba(121, 237, 255, 0.7);
        translate: .03em -.06em;
    }
    2%{
        text-shadow: 
        .25rem .1rem 0 rgba(243, 110, 255, 0.7),
        -.1rem -.25rem 0 rgba(133, 255, 200, 0.7),
        -.2rem .2rem 0 rgba(121, 237, 255, 0.7);
        translate: .03em -.06em;
    }
    3%{
        text-shadow: 
        -.1rem -.2rem 0 rgba(243, 110, 255, 0.7),
        .2rem -.1rem 0 rgba(133, 255, 200, 0.7),
        -.1rem -.2rem 0 rgba(121, 237, 255, 0.7);
        translate: -.02em .05em;
    }
    4%{
        text-shadow: 
        -.1rem -.2rem 0 rgba(243, 110, 255, 0.7),
        .2rem -.1rem 0 rgba(133, 255, 200, 0.7),
        -.1rem -.2rem 0 rgba(121, 237, 255, 0.7);
        translate: -.02em .05em;
    }
    5%{
        text-shadow: 
        .1rem .3rem 0 rgba(243, 110, 255, 0.7),
        -.2rem .2rem 0 rgba(133, 255, 200, 0.7),
        .25rem .1rem 0 rgba(121, 237, 255, 0.7);
        translate: .06em -.08em;
    }
    6%{
        text-shadow: 
        .1rem .3rem 0 rgba(243, 110, 255, 0.7),
        -.2rem .2rem 0 rgba(133, 255, 200, 0.7),
        .25rem .1rem 0 rgba(121, 237, 255, 0.7);
        translate: .06em -.08em;
    }
    7%{
        text-shadow:none;
        translate: 0em 0em;
    }
}
.carousel-accounts{
    width: 70%;
    min-height: 50vh;
    margin-top: 6rem;
    z-index: 2;
    position: relative;
    --fill-color:var(--blue);
}
.carousel-wrapper{
    width: 100%;
    height: 4rem;
    background-color: var(--fill-color);
    position: relative;
    overflow: hidden;
    /* border-radius: 1em 1em 0 0; */
}
.carousel-icon{
    background: none;
    font-size: 4rem;
    color: var(--green);
    translate: 0 -100%;
    font-weight: bolder;
}
.carousel-control{
    height: 3rem !important;
    width: 2rem;
    margin: 3rem;
    margin-bottom: none;
}
.top-wrapper::before{
    content: "";
    width: 4em;
    height: 4em;
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    rotate: 45deg;
    translate: -50% -50%;
    /* border: 3px solid var(--green); */
}
.top-wrapper::after{
    content: "";
    width: 4em;
    height: 4em;
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    right: 0;
    rotate: 45deg;
    translate: 50% -50%;
}
.bottom-wrapper::before{
    content: "";
    width: 4em;
    height: 4em;
    background: linear-gradient(transparent, var(--bg-color) 50%);
    position: absolute;
    bottom: 0;
    left: 0;
    rotate: 45deg;
    translate: -50% 50%;
}
.bottom-wrapper::after{
    content: "";
    width: 4em;
    height: 4em;
    background: linear-gradient(transparent, var(--bg-color) 50%);
    position: absolute;
    bottom: 0;
    right: 0;
    rotate: -45deg;
    translate: 50% 50%;
}
.bottom-wrapper{
    height: 2rem;
    /* border-radius: 0 0 1em 1em; */
    -webkit-mask: url("../images/separator.svg");
    mask: url("../images/separator.svg");
    -webkit-mask-position: 0;
    mask-position: 0;
    mask-size: 3.5em;
    animation: mask-anim 15s alternate-reverse infinite linear;
    background: linear-gradient(0deg,transparent,var(--fill-color)60%);
}
@keyframes mask-anim {
    100%{
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}
.section-container{
    width: 100%;
    min-height: 50vh;
    background-color: var(--fill-color);
    /* position: relative; */
    padding: 1rem 2rem 0 2rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    width: 100%;
    color: var(--green);
}
.stats-container>div{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    justify-content: space-between;  
}
.stats-container>div p{
    min-width: 200px;
    margin: 0;
}
.stats-container span{
    font-weight: bolder;
    font-size: 1.2rem;
    color: var(--pink);
}
.user-image-container{
    width: 10em;
    height: 10em;
    /* border-radius: 50%; */
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    background-color: var(--fill-color);
    z-index: 2;
    position: absolute;
    top:0;
    left: 50%;
    translate: -50% -50%;
    padding: 1em;
    -webkit-mask: url(../images/hexagon.svg);
    mask: url(../images/hexagon.svg);
}
.user-image-container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    -webkit-mask: url(../images/hexagon.svg);
    mask: url(../images/hexagon.svg);
}

.user-image{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: contain;
    background-color: var(--cyan);
    /* border-radius: 50%;
    border: 3px solid var(--cyan); */
    -webkit-mask: url(../images/hexagon.svg);
    mask: url(../images/hexagon.svg);
}


#chart{
    width: 500px;
    height: 500px;
}
/* --------------------------------------------------- */

.transactions-table{
    width: 50%;
    min-width: 25rem;
    border: 3px solid var(--green);
    text-align: center;
}
.transactions-table *{
    padding: .2em .5em;
}

/* ----------------------------------------------------- */
footer{
    margin-top: 3rem;
    min-height: 15vh;
    background-color:var(--violet);
}